@font-face {
    font-family: 'AdiHaus';
    src: URL('https://assets.codepen.io/6060109/adihaus_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "AdiHaus";
    src: url("https://assets.codepen.io/6060109/adihaus_bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.6;
    font-family: 'Adihaus', Verdana, Geneva, Tahoma, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1, 
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.bd {
    border: 1px solid black;
}

/* Mobile-first */

.main-container {
    width: 375px;
    margin: auto;
}

.top-logo-mobile {
    padding: 18px 0;
    /* border: 1px solid black; */
}

.top-logo-mobile img {
    margin: auto;
}

.hero-img-mobile {
    width: 375px;
    height: 250px;
    background-color: gray;
    background-image: url(https://assets.codepen.io/6060109/mobile-shoes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 55%;

}

.inner-content-container {
    padding: 30px 32px;
    margin: auto;
}

.top-logo-desktop {
    display: none;
}

.hero-text {
    text-align: center;
}

.hero-text h1 {
    text-transform: uppercase;
    font-size: 48px;
    color: #423A3A;
    line-height: 50px;
    letter-spacing: 5px;
    width: 200px;
    margin: auto;
}

.hero-text h1 span {
    font-weight: normal;
    color: #2F80ED;
    display: block;
    margin-bottom: 15px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero-text p {
    color: #333333;
    font-size: 14px;
    font-weight: 100;
    line-height: 28px;
    margin-top: 15px;
}

form {
    display: flex;
    height: 48px;  
    margin-top: 40px;
}

#email {
    width: 247px;
    padding: 0;
    padding-left: 24px;
    margin: 0;
    font-family: 'Adihaus', Verdana, Geneva, Tahoma, sans-serif;
    color: #333333;
    font-size: 16px;
    border: 1px solid #33333377;
    border-right: none;
    border-radius: 3px 0 0 3px;
}

#email:focus {
    outline: none;
}

#submit {
    color: white;
    background: rgb(142,142,142);
    background: linear-gradient(90deg, rgba(142,142,142,1) 0%, rgba(51,51,51,1) 66%, rgba(51,51,51,1) 100%);
    border: none;
    border-radius: 2px;
    height: auto;
    width: 64px;
    font-family: 'Adihaus', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: 200;
}

.hero-img-desktop {
    background-image: url(https://assets.codepen.io/6060109/athlete-girl.png);
    background-size: cover;
    background-repeat: no-repeat;

}

/* ##### DESKTOP VERSION ##### */

@media only screen and (min-width: 1440px) {

    .main-container {
            width: 1440px;
            height: 800px;
            margin-top: 50px;
            /* border: 1px solid black; */
            display: flex;
            background-image: url(https://assets.codepen.io/6060109/waves.png);
            background-size: 100%;
            background-position: cover;

    }
    
    .hero-img-mobile {
        display: none;
    }

    .top-logo-mobile {
        display: none;
    }

    .top-logo-desktop {
        display: block;
        margin-bottom: 100px;
    }

    .inner-content-container {
        width: 32%;
        height: 100%;
        margin-top: 25px;
        /* border: 1px solid black; */
    }

    .desktop-hero-img-container {
        width: 45%;
    }

    .hero-img-desktop {
        width: 100%;
        height: 100%;
        background-image: url(https://assets.codepen.io/6060109/shoes.png);
        background-position: center;
        background-size: cover;
    }

    .hero-text {
        text-align: left;
    }

    .hero-text h1 {
        margin: 0;
        font-size: 64px;
        line-height: 71px;
    }

    #email {
        width: 100%;
    }

    #submit {
        width: 120px;
    }

   

   
}

